public/flow/MQTT_test.json
[{"id":"f477acfd.35bed","type":"mqtt in","z":"42fa3f9e.1f5cd","name":"接收lora訊息","topic":"GIOT-GW/UL/+","qos":"2","broker":"6df8349f.1faacc","x":111,"y":379.33344745635986,"wires":[["494ea733.ae1328","19fad256.20c2fe"]]},{"id":"19fad256.20c2fe","type":"function","z":"42fa3f9e.1f5cd","name":"parse data","func":"var msgTools = context.global.msgTools;\nvar arr = JSON.parse(msg.payload);\nvar parseData = msgTools.parseMotorMsg(arr[0]) ;\n\nif(parseData === null){\n    node.warn('Drop message');\n    return;\n}\n\nvar info = parseData.information;\nvar data =  parseData.data;\n\nvar mode = parseData.mode;\nnode.log('#### parseData mode :'+mode+\"\\n\"+JSON.stringify(parseData));\n//node.warn('#### Data :'+data+'mode:'+mode);\n\nmsg.payload = {id:\"update_gauge\", v: info};\n\n//node.warn('#### parse data msg.payload :'+JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":456.7667770385742,"y":383.4666795730591,"wires":[["b134fd58.37bf3","75d7eae6.abda04"]]},{"id":"75d7eae6.abda04","type":"websocket out","z":"42fa3f9e.1f5cd","name":"WS Output","server":"b469aba1.f5b528","client":"","x":712.1668319702148,"y":381.4855318069458,"wires":[]},{"id":"b134fd58.37bf3","type":"debug","z":"42fa3f9e.1f5cd","name":"parse data","active":true,"console":"false","complete":"payload","x":704.2334213256836,"y":449.8000192642212,"wires":[]},{"id":"586d1bb3.169854","type":"debug","z":"42fa3f9e.1f5cd","name":"測試用MQTT訂閱","active":true,"console":"false","complete":"payload","x":333.2333526611328,"y":125.93330001831055,"wires":[]},{"id":"494ea733.ae1328","type":"debug","z":"42fa3f9e.1f5cd","name":"","active":false,"console":"false","complete":"false","x":454.90016174316406,"y":451.9334497451782,"wires":[]},{"id":"78c24f07.a7f5b","type":"comment","z":"42fa3f9e.1f5cd","name":"MQTT訂閱 - 測試接收下發","info":"GIOT-GW/DL/00001c497b3b8146","x":144.2332534790039,"y":89,"wires":[]},{"id":"7be6ada1.d00cc4","type":"mqtt in","z":"42fa3f9e.1f5cd","name":"測試用MQTT訂閱","topic":"GIOT-GW/DL/00001c497b48dc21","qos":"2","broker":"","x":116.99989318847656,"y":125.79996490478516,"wires":[["586d1bb3.169854"]]},{"id":"5a19976a.6fd528","type":"inject","z":"42fa3f9e.1f5cd","name":"溫度27 濕度80","topic":"","payload":"[{\"channel\":922625000, \"sf\":10, \"time\":\"2017-11-13T07:38:56\", \"gwip\":\"10.8.20.173\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-33.0, \"snr\":24.5, \"snr_max\":35.0, \"snr_min\":19.5, \"macAddr\":\"000000000501070b\", \"data\":\"fa01014c0bb0\", \"frameCnt\":4056, \"fport\":1}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.5791244506836,"y":257.2479581832886,"wires":[["19fad256.20c2fe"]]},{"id":"5a43c703.a121e8","type":"comment","z":"42fa3f9e.1f5cd","name":"MQTT訂閱","info":"","x":102.3666000366211,"y":336.59997844696045,"wires":[]},{"id":"a373ad8d.5e66e","type":"comment","z":"42fa3f9e.1f5cd","name":"解析資料","info":"","x":453.3666458129883,"y":334.59997844696045,"wires":[]},{"id":"ff416cdf.06a83","type":"comment","z":"42fa3f9e.1f5cd","name":"透過WS傳給網頁","info":"","x":731.3666458129883,"y":332.59997844696045,"wires":[]},{"id":"f24024d2.6bdda8","type":"comment","z":"42fa3f9e.1f5cd","name":"手動測試","info":"","x":95.3665542602539,"y":210.599946975708,"wires":[]},{"id":"fb349862.5ef1b8","type":"inject","z":"42fa3f9e.1f5cd","name":"","topic":"","payload":"[{\"channel\":922875000, \"sf\":10, \"time\":\"2018-06-03T01:35:05\", \"gwip\":\"10.8.20.10\", \"gwid\":\"00001c497b431f89\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-110.5, \"snr\":-8.5, \"snr_max\":-5.8, \"snr_min\":-11.8, \"macAddr\":\"0000000005010c00\", \"data\":\"fb0106e70ac1060c6a171001a70000\", \"frameCnt\":2030, \"fport\":35}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":87,"y":478,"wires":[["19fad256.20c2fe"]]},{"id":"6df8349f.1faacc","type":"mqtt-broker","z":"","broker":"161.202.32.59","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b469aba1.f5b528","type":"websocket-listener","z":"","path":"/ws/control","wholemsg":"false"}]