public/flow/MQTT_test.json
[{"id":"9487d7da.b4b8d8","type":"mqtt in","z":"519d38e.96bb9c8","name":"接收lora訊息","topic":"GIOT-GW/UL/+","qos":"2","broker":"822ed4a3.9d0838","x":106.9334487915039,"y":327.4668302536011,"wires":[["f900884c.6723b8","2a081c25.6844a4"]]},{"id":"2a081c25.6844a4","type":"function","z":"519d38e.96bb9c8","name":"parse data","func":"var msgTools = context.global.msgTools;\nvar arr = JSON.parse(msg.payload);\nvar parseData = msgTools.parseMotorMsg(arr[0]) ;\n\nif(parseData === null){\n    node.warn('Drop message');\n    return;\n}\n\nvar info = parseData.information;\nvar data =  parseData.data;\n\nvar mode = parseData.mode;\nnode.log('#### parseData mode :'+mode+\"\\n\"+JSON.stringify(parseData));\n//node.warn('#### Data :'+data+'mode:'+mode);\n\nmsg.payload = {id:\"update_gauge\", v: info};\n\n//node.warn('#### parse data msg.payload :'+JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":452.7002258300781,"y":331.6000623703003,"wires":[["589edf11.61e24","5333163a.6fdfe8"]]},{"id":"5333163a.6fdfe8","type":"websocket out","z":"519d38e.96bb9c8","name":"WS Output","server":"cc1434d4.373638","client":"","x":708.1002807617188,"y":329.618914604187,"wires":[]},{"id":"589edf11.61e24","type":"debug","z":"519d38e.96bb9c8","name":"parse data","active":true,"console":"false","complete":"payload","x":700.1668701171875,"y":397.9334020614624,"wires":[]},{"id":"2c774d15.257822","type":"debug","z":"519d38e.96bb9c8","name":"測試用MQTT訂閱","active":true,"console":"false","complete":"payload","x":329.1668014526367,"y":74.06668281555176,"wires":[]},{"id":"f900884c.6723b8","type":"debug","z":"519d38e.96bb9c8","name":"","active":false,"console":"false","complete":"false","x":450.83361053466797,"y":400.06683254241943,"wires":[]},{"id":"80502c2d.79316","type":"comment","z":"519d38e.96bb9c8","name":"MQTT訂閱 - 測試接收下發","info":"GIOT-GW/DL/00001c497b3b8146","x":140.1667022705078,"y":37.13338279724121,"wires":[]},{"id":"5bd7a05.eb11e6","type":"mqtt in","z":"519d38e.96bb9c8","name":"測試用MQTT訂閱","topic":"GIOT-GW/DL/00001c497b48dc21","qos":"2","broker":"822ed4a3.9d0838","x":112.93334197998047,"y":73.93334770202637,"wires":[["2c774d15.257822"]]},{"id":"2f50687f.a45878","type":"inject","z":"519d38e.96bb9c8","name":"溫度27 濕度80","topic":"","payload":"[{\"channel\":922625000, \"sf\":10, \"time\":\"2017-11-13T07:38:56\", \"gwip\":\"10.8.20.173\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-33.0, \"snr\":24.5, \"snr_max\":35.0, \"snr_min\":19.5, \"macAddr\":\"000000000501070b\", \"data\":\"fa01014c0bb0\", \"frameCnt\":4056, \"fport\":1}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":120.5125732421875,"y":205.38134098052979,"wires":[["2a081c25.6844a4"]]},{"id":"8434d126.192ee","type":"comment","z":"519d38e.96bb9c8","name":"MQTT訂閱","info":"","x":98.300048828125,"y":284.73336124420166,"wires":[]},{"id":"f6a3e0c8.2bc5c","type":"comment","z":"519d38e.96bb9c8","name":"解析資料","info":"","x":449.3000946044922,"y":282.73336124420166,"wires":[]},{"id":"6b6faf1b.0d589","type":"comment","z":"519d38e.96bb9c8","name":"透過WS傳給網頁","info":"","x":727.3000946044922,"y":280.73336124420166,"wires":[]},{"id":"22e17ef4.113362","type":"comment","z":"519d38e.96bb9c8","name":"手動測試","info":"","x":91.30000305175781,"y":158.73332977294922,"wires":[]},{"id":"822ed4a3.9d0838","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"cc1434d4.373638","type":"websocket-listener","z":"","path":"/ws/control","wholemsg":"false"}]