public/flow/ws_control.json
[{"id":"26294b69.dcfad4","type":"websocket in","z":"81b2831b.d9109","name":"","server":"b469aba1.f5b528","client":"","x":131,"y":115.20000648498535,"wires":[["1503d560.1ece9b","f67ccb3.f50e538"]]},{"id":"1503d560.1ece9b","type":"debug","z":"81b2831b.d9109","name":"","active":true,"console":"false","complete":"false","x":339.00007247924805,"y":117.06667613983154,"wires":[]},{"id":"7b71e959.8c6388","type":"comment","z":"81b2831b.d9109","name":"接收網頁傳來WS","info":"","x":114,"y":68,"wires":[]},{"id":"f67ccb3.f50e538","type":"function","z":"81b2831b.d9109","name":"Parse  /ws/control motor information","func":"var msgTools = context.global.msgTools;\nvar msg2 = null;\n\nnode.log('From control page : '+msg.payload);\nvar obj = JSON.parse(msg.payload);\nvar dataJson = {} ,json = {};\n//dataJson.macAddr = msgTools.getLoraMac();\nvar parseData = '';\n//msg.payload is used as the payload of the published message.\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    node.warn('iNIT');\n    return;\n    \n} else if(obj.id==\"set_humidity_max\"){\n    msgTools.setHumidityLimit(obj.v);\n    msg2 = {};\n    msg2.payload = {id:\"setting_finish\"};\n    return [null,msg2];\n} else if(obj.id==\"set_temperature_max\"){\n    msgTools.setTemperatureLimit(obj.v);\n    msg2 = {};\n    msg2.payload = {id:\"setting_finish\"};\n    return [null,msg2];\n} else if(obj.id==\"send_commend\"){\n    parseData = obj.v; \n    //node.warn('send_commend via MQTT publish : ' + parseData);\n    dataJson.macAddr = '000000000501037e';\n    dataJson.data = parseData;\n    dataJson.id = \"12345\"\n    dataJson.extra = {\"port\":1,\"txpara\":\"22\"};\n    var arr = [dataJson];\n    msg.payload = JSON.stringify(arr);\n    //msg.payload = \"[{\\\"macAddr\\\":\\\"0000000005010403\\\",\\\"data\\\":\\\"1234\\\"}]\";\n    return [msg, null];\n}\n\n\n\n\n","outputs":"2","noerr":0,"x":329.76679611206055,"y":224.06685161590576,"wires":[["68a8f304.dab29c","75517731.563378"],["660c3ea7.2cf89"]]},{"id":"41b7de65.2d6c1","type":"comment","z":"81b2831b.d9109","name":"傳送 MQTT 下發命令","info":"","x":330.00007247924805,"y":181.00017070770264,"wires":[]},{"id":"2ac19010.91bcd","type":"inject","z":"81b2831b.d9109","name":"Test for publish MQTT message","topic":"","payload":"\"[{\\\"macAddr\\\":\\\"0000000005010403\\\",\\\"data\\\":\\\"1234\\\"}]\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":666.7666778564453,"y":115.80000686645508,"wires":[["68a8f304.dab29c"]]},{"id":"68a8f304.dab29c","type":"mqtt out","z":"81b2831b.d9109","name":"MQTT Publish","topic":"GIOT-GW/DL/00001c497b48dc21","qos":"2","retain":"false","broker":"","x":914.7667045593262,"y":221.20024394989014,"wires":[]},{"id":"75517731.563378","type":"debug","z":"81b2831b.d9109","name":"Publish MQTT message","active":false,"console":"false","complete":"payload","x":627.0000419616699,"y":179.93327617645264,"wires":[]},{"id":"660c3ea7.2cf89","type":"websocket out","z":"81b2831b.d9109","name":"for save settinh finish","server":"","client":"","x":644.8333549499512,"y":261.19995403289795,"wires":[]},{"id":"17c49f46.a31831","type":"inject","z":"81b2831b.d9109","name":"a000","topic":"","payload":"a000","payloadType":"str","repeat":"","crontab":"","once":false,"x":97.83335494995117,"y":277.19995403289795,"wires":[["4af1872c.cf1c58"]]},{"id":"4af1872c.cf1c58","type":"function","z":"81b2831b.d9109","name":"Parse  /ws/control motor information","func":"var msgTools = context.global.msgTools;\n\nnode.log('From control page : '+ msg.payload);\nvar dataJson = {};\n\ndataJson.macAddr = '000000000501037e';\ndataJson.data = msg.payload;\ndataJson.id = \"12345\"\ndataJson.extra = {\"port\":1,\"txpara\":\"22\"};\nvar arr = [dataJson];\nmsg.payload = JSON.stringify(arr);\n//msg.payload = \"[{\\\"macAddr\\\":\\\"0000000005010403\\\",\\\"data\\\":\\\"1234\\\"}]\";\nreturn msg;\n\n\n\n\n\n","outputs":"1","noerr":0,"x":364.8333549499512,"y":361.19995403289795,"wires":[["5d57ead1.0206f4","68a8f304.dab29c"]]},{"id":"5d57ead1.0206f4","type":"debug","z":"81b2831b.d9109","name":"","active":true,"console":"false","complete":"false","x":663.8333549499512,"y":362.19995403289795,"wires":[]},{"id":"6e42d13e.2fda9","type":"inject","z":"81b2831b.d9109","name":"a001","topic":"","payload":"a001","payloadType":"str","repeat":"","crontab":"","once":false,"x":99.83335494995117,"y":316.19995403289795,"wires":[["4af1872c.cf1c58"]]},{"id":"e025a09d.1327","type":"inject","z":"81b2831b.d9109","name":"a100","topic":"","payload":"a100","payloadType":"str","repeat":"","crontab":"","once":false,"x":97.83335494995117,"y":364.19995403289795,"wires":[["4af1872c.cf1c58"]]},{"id":"34f99680.eef63a","type":"inject","z":"81b2831b.d9109","name":"a101","topic":"","payload":"a101","payloadType":"str","repeat":"","crontab":"","once":false,"x":95.83335494995117,"y":410.19995403289795,"wires":[["4af1872c.cf1c58"]]},{"id":"a727232d.d8a69","type":"inject","z":"81b2831b.d9109","name":"a200","topic":"","payload":"a200","payloadType":"str","repeat":"","crontab":"","once":false,"x":97.8333625793457,"y":456.199969291687,"wires":[["4af1872c.cf1c58"]]},{"id":"da5ad756.d0e8e8","type":"inject","z":"81b2831b.d9109","name":"a211","topic":"","payload":"a211","payloadType":"str","repeat":"","crontab":"","once":false,"x":101.83335494995117,"y":503.19995403289795,"wires":[["4af1872c.cf1c58"]]},{"id":"d5d3a33c.06ae5","type":"comment","z":"81b2831b.d9109","name":"下發命令測試","info":"","x":296.133358001709,"y":421.9333143234253,"wires":[]},{"id":"b469aba1.f5b528","type":"websocket-listener","z":"","path":"/ws/control","wholemsg":"false"}]