public/flow/ws_control.json
[{"id":"759f680d.ad3468","type":"websocket in","z":"1d67a990.afe7f6","name":"","server":"cc1434d4.373638","client":"","x":110.16664505004883,"y":105.0000524520874,"wires":[["72e53ece.07cb9","8a419593.77b038"]]},{"id":"72e53ece.07cb9","type":"debug","z":"1d67a990.afe7f6","name":"","active":false,"console":"false","complete":"false","x":338.1667175292969,"y":106.8667221069336,"wires":[]},{"id":"43a7298a.d19898","type":"comment","z":"1d67a990.afe7f6","name":"接收網頁傳來WS","info":"","x":113.16664505004883,"y":57.80004596710205,"wires":[]},{"id":"8a419593.77b038","type":"function","z":"1d67a990.afe7f6","name":"Parse  /ws/control motor information","func":"var msgTools = context.global.msgTools;\nvar msg2 = null;\n\nnode.log('From control page : '+msg.payload);\nvar obj = JSON.parse(msg.payload);\nvar dataJson = {} ,json = {};\n//dataJson.macAddr = msgTools.getLoraMac();\nvar parseData = '';\n//msg.payload is used as the payload of the published message.\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    node.warn('iNIT');\n    return;\n    \n} else if(obj.id==\"set_humidity_max\"){\n    msgTools.setHumidityLimit(obj.v);\n    msg2 = {};\n    msg2.payload = {id:\"setting_finish\"};\n    return [null,msg2];\n} else if(obj.id==\"set_temperature_max\"){\n    msgTools.setTemperatureLimit(obj.v);\n    msg2 = {};\n    msg2.payload = {id:\"setting_finish\"};\n    return [null,msg2];\n} else if(obj.id==\"send_commend\"){\n    parseData = obj.v; \n    //node.warn('send_commend via MQTT publish : ' + parseData);\n    dataJson.macAddr = '000000000501037e';\n    dataJson.data = parseData;\n    dataJson.id = \"12345\"\n    dataJson.extra = {\"port\":1,\"txpara\":\"22\"};\n    var arr = [dataJson];\n    msg.payload = JSON.stringify(arr);\n    //msg.payload = \"[{\\\"macAddr\\\":\\\"0000000005010403\\\",\\\"data\\\":\\\"1234\\\"}]\";\n    return [msg, null];\n}\n\n\n\n\n","outputs":"2","noerr":0,"x":328.9334411621094,"y":213.8668975830078,"wires":[["71169bb5.883524","c61a4b2.27841b8"],["9a285ed9.8be8"]]},{"id":"6fb97d90.4d4d34","type":"comment","z":"1d67a990.afe7f6","name":"傳送 MQTT 下發命令","info":"","x":329.1667175292969,"y":170.8002166748047,"wires":[]},{"id":"e1bee070.059d5","type":"inject","z":"1d67a990.afe7f6","name":"Test for publish MQTT message","topic":"","payload":"\"[{\\\"macAddr\\\":\\\"0000000005010403\\\",\\\"data\\\":\\\"1234\\\"}]\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":665.9333229064941,"y":105.60005283355713,"wires":[["71169bb5.883524"]]},{"id":"71169bb5.883524","type":"mqtt out","z":"1d67a990.afe7f6","name":"MQTT Publish","topic":"GIOT-GW/DL/00001c497b48dc21","qos":"2","retain":"false","broker":"822ed4a3.9d0838","x":913.933349609375,"y":211.0002899169922,"wires":[]},{"id":"c61a4b2.27841b8","type":"debug","z":"1d67a990.afe7f6","name":"Publish MQTT message","active":false,"console":"false","complete":"payload","x":626.1666870117188,"y":169.7333221435547,"wires":[]},{"id":"9a285ed9.8be8","type":"websocket out","z":"1d67a990.afe7f6","name":"for save settinh finish","server":"cc1434d4.373638","client":"","x":644,"y":251,"wires":[]},{"id":"f08ea36a.92dcf","type":"inject","z":"1d67a990.afe7f6","name":"a000","topic":"","payload":"a000","payloadType":"str","repeat":"","crontab":"","once":false,"x":97,"y":267,"wires":[["8a67e42a.d8cb68"]]},{"id":"8a67e42a.d8cb68","type":"function","z":"1d67a990.afe7f6","name":"Parse  /ws/control motor information","func":"var msgTools = context.global.msgTools;\n\nnode.log('From control page : '+ msg.payload);\nvar dataJson = {};\n\ndataJson.macAddr = '000000000501037e';\ndataJson.data = msg.payload;\ndataJson.id = \"12345\"\ndataJson.extra = {\"port\":1,\"txpara\":\"22\"};\nvar arr = [dataJson];\nmsg.payload = JSON.stringify(arr);\n//msg.payload = \"[{\\\"macAddr\\\":\\\"0000000005010403\\\",\\\"data\\\":\\\"1234\\\"}]\";\nreturn msg;\n\n\n\n\n\n","outputs":"1","noerr":0,"x":364,"y":351,"wires":[["5ca1e295.06068c","71169bb5.883524"]]},{"id":"5ca1e295.06068c","type":"debug","z":"1d67a990.afe7f6","name":"","active":true,"console":"false","complete":"false","x":663,"y":352,"wires":[]},{"id":"44fddba3.3f5624","type":"inject","z":"1d67a990.afe7f6","name":"a001","topic":"","payload":"a001","payloadType":"str","repeat":"","crontab":"","once":false,"x":99,"y":306,"wires":[["8a67e42a.d8cb68"]]},{"id":"cc8dd033.9144","type":"inject","z":"1d67a990.afe7f6","name":"a100","topic":"","payload":"a100","payloadType":"str","repeat":"","crontab":"","once":false,"x":97,"y":354,"wires":[["8a67e42a.d8cb68"]]},{"id":"c8869085.efc13","type":"inject","z":"1d67a990.afe7f6","name":"a101","topic":"","payload":"a101","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":400,"wires":[["8a67e42a.d8cb68"]]},{"id":"8077dd04.35629","type":"inject","z":"1d67a990.afe7f6","name":"a200","topic":"","payload":"a200","payloadType":"str","repeat":"","crontab":"","once":false,"x":97.00000762939453,"y":446.00001525878906,"wires":[["8a67e42a.d8cb68"]]},{"id":"8f107a6e.f176d8","type":"inject","z":"1d67a990.afe7f6","name":"a211","topic":"","payload":"a211","payloadType":"str","repeat":"","crontab":"","once":false,"x":101,"y":493,"wires":[["8a67e42a.d8cb68"]]},{"id":"f9ba57c9.a23cb8","type":"comment","z":"1d67a990.afe7f6","name":"下發命令測試","info":"","x":295.3000030517578,"y":411.73336029052734,"wires":[]},{"id":"cc1434d4.373638","type":"websocket-listener","z":"","path":"/ws/control","wholemsg":"false"},{"id":"822ed4a3.9d0838","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]