.nodered/flows_Jason-PC.json
[{"id":"519d38e.96bb9c8","type":"tab","label":"Flow 1"},{"id":"1d67a990.afe7f6","type":"tab","label":"Flow 2"},{"id":"822ed4a3.9d0838","type":"mqtt-broker","z":"","broker":"119.81.189.47","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"109c7ccf.be1dd3","type":"mqtt-broker","z":"","broker":"192.168.3.6","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1798a968.c197a7","type":"mqtt-broker","z":"","broker":"192.168.3.6","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"342d64bd.c3885c","type":"websocket-listener","z":"","path":"/ws/find","wholemsg":"false"},{"id":"bacc9d9f.84999","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"1f4b87b7.7607e8","type":"websocket-listener","z":"","path":"/ws/update","wholemsg":"false"},{"id":"cc1434d4.373638","type":"websocket-listener","z":"","path":"/ws/control","wholemsg":"false"},{"id":"9487d7da.b4b8d8","type":"mqtt in","z":"519d38e.96bb9c8","name":"接收lora訊息","topic":"GIOT-GW/UL/+","qos":"2","broker":"822ed4a3.9d0838","x":106.9334487915039,"y":327.4668302536011,"wires":[["f900884c.6723b8","2a081c25.6844a4"]]},{"id":"759f680d.ad3468","type":"websocket in","z":"1d67a990.afe7f6","name":"","server":"cc1434d4.373638","client":"","x":110.16664505004883,"y":105.0000524520874,"wires":[["72e53ece.07cb9","8a419593.77b038"]]},{"id":"72e53ece.07cb9","type":"debug","z":"1d67a990.afe7f6","name":"","active":false,"console":"false","complete":"false","x":338.1667175292969,"y":106.8667221069336,"wires":[]},{"id":"43a7298a.d19898","type":"comment","z":"1d67a990.afe7f6","name":"接收網頁傳來WS","info":"","x":113.16664505004883,"y":57.80004596710205,"wires":[]},{"id":"8a419593.77b038","type":"function","z":"1d67a990.afe7f6","name":"Parse  /ws/control motor information","func":"var msgTools = context.global.msgTools;\nvar msg2 = null;\n\nnode.log('From control page : '+msg.payload);\nvar obj = JSON.parse(msg.payload);\nvar dataJson = {} ,json = {};\n//dataJson.macAddr = msgTools.getLoraMac();\nvar parseData = '';\n//msg.payload is used as the payload of the published message.\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    node.warn('iNIT');\n    return;\n    \n} else if(obj.id==\"set_humidity_max\"){\n    msgTools.setHumidityLimit(obj.v);\n    msg2 = {};\n    msg2.payload = {id:\"setting_finish\"};\n    return [null,msg2];\n} else if(obj.id==\"set_temperature_max\"){\n    msgTools.setTemperatureLimit(obj.v);\n    msg2 = {};\n    msg2.payload = {id:\"setting_finish\"};\n    return [null,msg2];\n} else if(obj.id==\"send_commend\"){\n    parseData = obj.v; \n    //node.warn('send_commend via MQTT publish : ' + parseData);\n    dataJson.macAddr = '000000000501037e';\n    dataJson.data = parseData;\n    dataJson.id = \"12345\"\n    dataJson.extra = {\"port\":1,\"txpara\":\"22\"};\n    var arr = [dataJson];\n    msg.payload = JSON.stringify(arr);\n    //msg.payload = \"[{\\\"macAddr\\\":\\\"0000000005010403\\\",\\\"data\\\":\\\"1234\\\"}]\";\n    return [msg, null];\n}\n\n\n\n\n","outputs":"2","noerr":0,"x":328.9334411621094,"y":213.8668975830078,"wires":[["71169bb5.883524","c61a4b2.27841b8"],["9a285ed9.8be8"]]},{"id":"6fb97d90.4d4d34","type":"comment","z":"1d67a990.afe7f6","name":"傳送 MQTT 下發命令","info":"","x":329.1667175292969,"y":170.8002166748047,"wires":[]},{"id":"2a081c25.6844a4","type":"function","z":"519d38e.96bb9c8","name":"parse data","func":"var msgTools = context.global.msgTools;\nvar arr = JSON.parse(msg.payload);\nvar parseData = msgTools.parseMotorMsg(arr[0]) ;\n\nif(parseData === null){\n    node.warn('Drop message');\n    return;\n}\n\nvar info = parseData.information;\nvar data =  parseData.data;\n\nvar mode = parseData.mode;\nnode.log('#### parseData mode :'+mode+\"\\n\"+JSON.stringify(parseData));\n//node.warn('#### Data :'+data+'mode:'+mode);\n\nmsg.payload = {id:\"update_gauge\", v: info};\n\n//node.warn('#### parse data msg.payload :'+JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":452.7002258300781,"y":331.6000623703003,"wires":[["589edf11.61e24","5333163a.6fdfe8"]]},{"id":"5333163a.6fdfe8","type":"websocket out","z":"519d38e.96bb9c8","name":"WS Output","server":"cc1434d4.373638","client":"","x":708.1002807617188,"y":329.618914604187,"wires":[]},{"id":"589edf11.61e24","type":"debug","z":"519d38e.96bb9c8","name":"parse data","active":true,"console":"false","complete":"payload","x":700.1668701171875,"y":397.9334020614624,"wires":[]},{"id":"e1bee070.059d5","type":"inject","z":"1d67a990.afe7f6","name":"Test for publish MQTT message","topic":"","payload":"\"[{\\\"macAddr\\\":\\\"0000000005010403\\\",\\\"data\\\":\\\"1234\\\"}]\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":665.9333229064941,"y":105.60005283355713,"wires":[["71169bb5.883524"]]},{"id":"71169bb5.883524","type":"mqtt out","z":"1d67a990.afe7f6","name":"MQTT Publish","topic":"GIOT-GW/DL/00001c497b48dc21","qos":"2","retain":"false","broker":"822ed4a3.9d0838","x":913.933349609375,"y":211.0002899169922,"wires":[]},{"id":"c61a4b2.27841b8","type":"debug","z":"1d67a990.afe7f6","name":"Publish MQTT message","active":false,"console":"false","complete":"payload","x":626.1666870117188,"y":169.7333221435547,"wires":[]},{"id":"2c774d15.257822","type":"debug","z":"519d38e.96bb9c8","name":"測試用MQTT訂閱","active":true,"console":"false","complete":"payload","x":329.1668014526367,"y":74.06668281555176,"wires":[]},{"id":"f900884c.6723b8","type":"debug","z":"519d38e.96bb9c8","name":"","active":false,"console":"false","complete":"false","x":450.83361053466797,"y":400.06683254241943,"wires":[]},{"id":"80502c2d.79316","type":"comment","z":"519d38e.96bb9c8","name":"MQTT訂閱 - 測試接收下發","info":"GIOT-GW/DL/00001c497b3b8146","x":140.1667022705078,"y":37.13338279724121,"wires":[]},{"id":"5bd7a05.eb11e6","type":"mqtt in","z":"519d38e.96bb9c8","name":"測試用MQTT訂閱","topic":"GIOT-GW/DL/00001c497b48dc21","qos":"2","broker":"822ed4a3.9d0838","x":112.93334197998047,"y":73.93334770202637,"wires":[["2c774d15.257822"]]},{"id":"2f50687f.a45878","type":"inject","z":"519d38e.96bb9c8","name":"溫度27 濕度80","topic":"","payload":"[{\"channel\":922625000, \"sf\":10, \"time\":\"2017-11-13T07:38:56\", \"gwip\":\"10.8.20.173\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-33.0, \"snr\":24.5, \"snr_max\":35.0, \"snr_min\":19.5, \"macAddr\":\"000000000501070b\", \"data\":\"fa01014c0bb0\", \"frameCnt\":4056, \"fport\":1}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":120.5125732421875,"y":205.38134098052979,"wires":[["2a081c25.6844a4"]]},{"id":"9a285ed9.8be8","type":"websocket out","z":"1d67a990.afe7f6","name":"for save settinh finish","server":"cc1434d4.373638","client":"","x":644,"y":251,"wires":[]},{"id":"f08ea36a.92dcf","type":"inject","z":"1d67a990.afe7f6","name":"a000","topic":"","payload":"a000","payloadType":"str","repeat":"","crontab":"","once":false,"x":97,"y":267,"wires":[["8a67e42a.d8cb68"]]},{"id":"8a67e42a.d8cb68","type":"function","z":"1d67a990.afe7f6","name":"Parse  /ws/control motor information","func":"var msgTools = context.global.msgTools;\n\nnode.log('From control page : '+ msg.payload);\nvar dataJson = {};\n\ndataJson.macAddr = '000000000501037e';\ndataJson.data = msg.payload;\ndataJson.id = \"12345\"\ndataJson.extra = {\"port\":1,\"txpara\":\"22\"};\nvar arr = [dataJson];\nmsg.payload = JSON.stringify(arr);\n//msg.payload = \"[{\\\"macAddr\\\":\\\"0000000005010403\\\",\\\"data\\\":\\\"1234\\\"}]\";\nreturn msg;\n\n\n\n\n\n","outputs":"1","noerr":0,"x":364,"y":351,"wires":[["5ca1e295.06068c","71169bb5.883524"]]},{"id":"5ca1e295.06068c","type":"debug","z":"1d67a990.afe7f6","name":"","active":true,"console":"false","complete":"false","x":663,"y":352,"wires":[]},{"id":"44fddba3.3f5624","type":"inject","z":"1d67a990.afe7f6","name":"a001","topic":"","payload":"a001","payloadType":"str","repeat":"","crontab":"","once":false,"x":99,"y":306,"wires":[["8a67e42a.d8cb68"]]},{"id":"cc8dd033.9144","type":"inject","z":"1d67a990.afe7f6","name":"a100","topic":"","payload":"a100","payloadType":"str","repeat":"","crontab":"","once":false,"x":97,"y":354,"wires":[["8a67e42a.d8cb68"]]},{"id":"c8869085.efc13","type":"inject","z":"1d67a990.afe7f6","name":"a101","topic":"","payload":"a101","payloadType":"str","repeat":"","crontab":"","once":false,"x":95,"y":400,"wires":[["8a67e42a.d8cb68"]]},{"id":"8077dd04.35629","type":"inject","z":"1d67a990.afe7f6","name":"a200","topic":"","payload":"a200","payloadType":"str","repeat":"","crontab":"","once":false,"x":97.00000762939453,"y":446.00001525878906,"wires":[["8a67e42a.d8cb68"]]},{"id":"8f107a6e.f176d8","type":"inject","z":"1d67a990.afe7f6","name":"a211","topic":"","payload":"a211","payloadType":"str","repeat":"","crontab":"","once":false,"x":101,"y":493,"wires":[["8a67e42a.d8cb68"]]},{"id":"8434d126.192ee","type":"comment","z":"519d38e.96bb9c8","name":"MQTT訂閱","info":"","x":98.300048828125,"y":284.73336124420166,"wires":[]},{"id":"f9ba57c9.a23cb8","type":"comment","z":"1d67a990.afe7f6","name":"下發命令測試","info":"","x":295.3000030517578,"y":411.73336029052734,"wires":[]},{"id":"f6a3e0c8.2bc5c","type":"comment","z":"519d38e.96bb9c8","name":"解析資料","info":"","x":449.3000946044922,"y":282.73336124420166,"wires":[]},{"id":"6b6faf1b.0d589","type":"comment","z":"519d38e.96bb9c8","name":"透過WS傳給網頁","info":"","x":727.3000946044922,"y":280.73336124420166,"wires":[]},{"id":"22e17ef4.113362","type":"comment","z":"519d38e.96bb9c8","name":"手動測試","info":"","x":91.30000305175781,"y":158.73332977294922,"wires":[]}]